// Grid Variables
$grid-width: 100rem;
$gutter-vertical: 2.5rem;
$gutter-horizontal: 2.5rem;

// Form Variables
$form-width: 600px;
$form-input-margin: 20px;

// Color Variables
$color-primary: #663695;
$color-primary-hov: #8241b8;
$color-secondary: #BA1F33;
$color-tertiary: #86BBD8;
$color-white: #ffffff;
$color-black: #070707;
$color-grey: #1e1e1e;
