@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  min-height: 100vh;
}

.appContainer {
  display: flex;
  height: 100vh;
}

@import "./scss/utils/index";
@import "./scss/components/index";
@import "./scss/pages/index";